body{
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

body .lock-scroll {
    overflow: hidden;
    position: fixed;
    /* width: 100%; */
    /* height: 100%; */
  }

/*
 * Navigation Bar
 */
 .navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    background-color: #333;
    color: #fff;
    height: 60px;
 }

.navbar-brand{
    display: flex;
    align-items: center;
    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 5%
}

.brand-initials{
    font-size: 180%;
    font-weight: bold;
    margin-right: 5px;
    /* font-size: 1em; */
}

.brand-name {
    font-size: 180%;
    /* font-size: 1em; */
}

.navbar-menu{
    display: flex;
    list-style: none;

    margin-right: 10%;
    font-size: 130%;
}
  
.navbar-menu li {
    margin-right: 25px;
}
  
.navbar-menu a, .navbar-list a {
    text-decoration: none;
    transition: color 0.3s ease;
    color: #fff;
}
  
.navbar-menu a:hover, .navbar-list a:hover{
    color: #ffca28;
}

.navbar-toggle{
    display: none;
    cursor: pointer;
    transition: all 0.3s ease;

    background-color: transparent;
    border: none;
    font-size: 30px;
    color: #ccc;
    margin: 2%;
    /* padding: 10px 20px; */
    /* border:1px solid rgb(37, 157, 204); */
    
}

.navbar-list{
    display: none;
    list-style: none;
    z-index: 5;

    background-color: #333;
    margin-top: -10px;
    width: 100%;
    font-size: 130%;
    /* border:1px solid rgb(37, 157, 204); */
    /* margin-right: 10%; */
}

.navbar-list li {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .navbar-menu {
        display: none;
    }
    .navbar-toggle {
        display: flex;
    }
    .navbar-list{
        display: none;
    }
}


/*
 * Home - Page
 */
#home{
    margin: 0;
    padding: 0;
    height: 45vw;
    width: 100%;

    /* border:1px solid #343434; */
    /* background-image: url('img/jiahui.jpg'); */
    /* background-repeat: no-repeat; */
    /* background-size: 100% 95%; */
    /* background-size: contain; */
    /* background-attachment: fixed; */

}

.home-word {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url('img/background.png');
    background-size: contain;
    background-attachment: fixed;
    height: 100%;
    border:1px solid rgb(37, 157, 204);
    /* padding-top: 100px; */
    /* background-repeat: no-repeat; */
    /* background-size: 100% 40%; */
    line-height: 0%;
    font-style:oblique;
    font-family: sans-serif;
    font-weight: 830;
    font-size: 5rem;
    border:1px solid rgb(37, 157, 204);


}

.word-initials{
    line-height: 0%;
    font-style: italic;
    font-family:'Times New Roman', Times, serif;
    font-weight: 200;
    font-size: 5rem;
    border:1px solid rgb(37, 157, 204);

    /* height: 50px; */
    /* text-align: ; */
    /* margin-bottom: ; */
    /* border:1px solid #F00; */
}

.word-name{
    line-height: 0%;
    font-style:oblique;
    font-family: sans-serif;
    font-weight: 830;
    font-size: 5rem;
    border:1px solid rgb(37, 157, 204);

    /* padding-top: 0px; */
    /* border:1px solid #F00; */
}




.home-canvas{
    overflow: hidden;
    margin: 0;
    width: 100%;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* height: 45vh; */
    /* background-color: #000000; */
}

.home-canvas canvas{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 60px;
    height: 45vw;
    width: 100%;
    z-index: 1;
}

@media screen and (max-width: 425px) {
    .home-word{
        font-size: 1.5rem;
    }
}


/* 
 * Title
 */

.title-light, .title-dark{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding-bottom: 1%;
    padding-top: 1%;

    /* margin: 5%; */
    /* border:1px solid #119CC0; */
}


.title-phone{
    display: none;
}

.title-light .line-left, .title-dark .line-left{
    background-color: #000;
    height: 2px;
    width: 10%;

    /* height: 200px; */
    /* margin-top: 1.5%; */
    /* margin-left: 30%; */
    /* margin-right: ; */
    /* border-top: solid #000000 2px; */
    /* border:1px solid #119CC0; */
}

.title-info{
    white-space: nowrap;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;    
    font-weight: 600;

    /* display: block; */
    /* word-break: keep-all; */
    /* border:1px solid #119CC0; */
}

.title-light .line-right, .title-dark .line-right{
    background-color: #000;
    width: 10%;
    height: 2px;

    /* margin-right: 10%; */
    /* width: 50%; */
    /* height: 150px; */
    /* margin-top: 1.5%;
    margin-right: 30%;
    border-top: solid #000000 2px; */
    /* border:1px solid #119CC0; */
}

.title-dark{
    background-color: #000;
}
.title-dark .line-left, .title-dark .line-right{
    background-color:#fff;
}
.title-dark .title-info{
    color: #fff;
}

@media screen and (max-width: 425px) {
    .title-light , .title-dark{
        display: block;
    }
    .title-phone{
        display: block;
        color: palevioletred;
        font-size: 70%;
        margin-left: 5%;
    }
    .line-left, .line-right{
        display: none;
    }
    .title-info{
        font-size: 1rem;
        margin-top: 1%;
        margin-left: 5%;
        border:1px solid rgb(37, 157, 204);
    }
}


/* 
 * Content - About - Me
 */


.about-section{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
}

.about-pic{
    text-align: center;
    margin-right: 20px;
    margin-left: 30px;
    width: 30%;
    max-width: 300px;
    min-width: 200px;
}

.about-content{
    padding-top: 2%;
    width: 50%;
    max-width: 400px;
    min-width: 300px;
}

.about-intro{
    color: #333;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;

    margin-bottom: 10px;
    margin-top: 5px;
}

.about-intro .dynamic-text{
    color: #737373;
}

.about-text{
    letter-spacing: 0.7px;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: sans-serif;
}

@media screen and (max-width: 425px) {
    .about-section{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-pic{
        margin-top: 5%;
        width: 50%;
        /* padding-left: 10%; */
        /* padding-right: 30px; */
    }
    .about-intro{
        font-size: 18px;
    }
}


/* 
 * Content - Template - White
 */

.content-template{
    display: grid;
    /* justify-content: flex-start; */
    grid-template-columns: 250px 5px auto;

    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
        /* border:1px solid #e037e0; */
    /* place-items: center; */
}

.content-template-title{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.content-template-title-1{
    cursor: pointer;
    border: none;
    background-color: #f5f5f5;
    text-align: center;
    font-size: 17px;

    height: 35px;
    width: 100%;
    /* border:1px solid #e037e0; */
    /* outline: none; */
}

.content-template-title-2{
    cursor: pointer;
    border: none;
    background-color: #FFFFFF;
    font-size: 17px;

    width: 100%;
    height: 35px;
    /* font-size: 15px; */
    /* cursor: pointer; */
    /* outline: none; */
    /* border: none; */
}

.content-template-title-3{
    cursor: pointer;
    border: none;
    background-color: #FFFFFF;
    font-size: 17px;

    width: 100%;
    height: 35px;
    /* font-size: 15px; */
        /* outline: none; */
}

.content-enlarge{
    display: inline-block;
    transition: transform 0.2s ease;
}

.content-enlarge:hover{
    transform: scale(1.1);
}



.content-template-line{
    background-color: #119CC0;
    width: 3px;
}

/* 
 * Content Template Content 
 */

.content-template-content-1{
    /* display: none; */
    display: flex;
    /* flex-wrap: wrap; */
    background-color: #f5f5f5;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 20px;
    max-width: 1200px;
}

.content-template-content-1 .content-left{
    flex-direction: column;
    flex: 1;
}

.content-template-content-1 .content-right{
    display: block;
}



.content-logo{
    width: 270px;
    /* margin-left: auto; */
}
.content-logo-ccut{
    width: 170px;
}

.content-template-content-2{
    display: none;
}
.content-template-content-2-table{
    /* margin: 5%; */
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    /* border:1px solid #e037e0; */
}
.table{
    border:1px solid #000000;
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
}
.table th{
    text-align: left;
}

.table td, .table th{
    border: 1px solid #ddd;
    padding: 8px;
}

.table tr:nth-child(even){
    background-color: #f2f2f2;
}

.table tr:hover{
    background-color: #ddd;
}


.content-template-content-3{
    display: none;
}

.content-template-content-3-list{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    /* border:1px solid #b6a61a; */
}
/* 
 * PIC!!!!
 */

.pic{
    width: 90%;
    height: auto;

    border-radius: 10%;
}

/* HIHIHIHI */
.block-template{
    margin-bottom: 20px;
}
.block-t-top{
    display: flex;
    max-width: 500px;
}

.block-t-pic{
    width: 150px;
    height: auto;

    border-radius: 10%;
}

@media screen and (max-width: 425px) {
    .content-template{
        grid-template-columns: 1fr;
        /* grid-template-columns: 50fr 1fr 30fr; */
    }
    .content-template-title{
        flex-direction: row;
    }
    .content-template-title-1{
        font-size: 10px;
    }
    .content-template-title-2{
        font-size: 12px;
    }
    
    .content-template-title-3{
        font-size: 12px;
    }
    .icon-text{
        /* display: none; */
    }
    .content-template-content-1 .content-right{
        display: none;
    }
    
    .content-template-content-1{
        font-size: 12px;
    }
    .block-template{
        font-size: 12px;
    }
}

/*
 *******************************
 ******************************
 ***************************
 * Journey - Content 
 */

.journey-content{
    display: flex;
    justify-content: center;

    /* grid-template-columns: 2fr 1fr; */

    margin-left: 10%;
    margin-right: 10%;

    /* border:1px solid rgb(135, 168, 13); */
}


.gallery-pic{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    gap: 0.5px;

    max-width: 850px;
    
    /* border:1px solid rgb(135, 168, 13); */
    /* grid-template-columns: repeat(auto-fill,minmax(100px, 1fr)); */
    /* grid-gap: 1px;
    grid-auto-rows: minmax(80px,auto);
    grid-auto-flow: dense; */
}
.gallery-pic .img{
    flex-grow: 1;
    background-color: gray;

    margin: 1.5px;
    height: 150px;
    /* border:1px solid rgb(135, 168, 13); */
}
.gallery-pic-img{
    vertical-align: bottom;    
    object-fit: cover;
    height: 100%;
    max-width: 100%;
    min-width: 100%;
    /* height: 100px; */
}



.gallery-folder{
    display: flex;
    flex-direction: column;
    max-width: 350px;
    /* border:1px solid rgb(144, 38, 170); */
}

.gallery-title{
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150%;    
    margin: 5%;
    /* border:1px solid rgb(135, 168, 13); */
}

.gallery-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 17px;
    /* border:1px solid rgb(102, 53, 143); */
}

.gallery-name-1{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 20px;
    margin-bottom: 20px;
    /* border:1px solid rgb(212, 13, 13); */
}
.gallery-name .icon1{
    /* margin: 20px; */
    /* border:1px solid rgb(93, 179, 167); */
    grid-row-start: 1;
    grid-row-end: 4;
    text-align: center;
    transition: transform 0.2s ease;
}

.gallery-name .icon1:hover{
    transform: scale(1.2);
}

.gallery-name .galleryicon{
    width: 80%;
    height: 80%;
}
.gallery-name-1-1{
    font-size: 110%;
    /* border:1px solid rgb(93, 179, 167); */
    margin-bottom: 5%;
}

.gallery-name-1-2{
    font-size: 100%;
    /* border:1px solid rgb(93, 179, 167); */
}

@media screen and (max-width: 425px) {
    .gallery-pic .img{
        height: 80px;
    }
    .gallery-title{
        font-size: 110%;
    }
    .gallery-name{
        font-size: 13px;
    }
    .gallery-name-1{
        display: flex;
        flex-direction: column;
        text-align: center;
        /* border:1px solid rgb(212, 13, 13); */
    }
    .gallery-name-1-1{
        font-size: 80%;

    }
    
    .gallery-name-1-2{
        display: none;
        /* font-size: 90%; */
    }
}


#paper{
    /* background-color: #000; */
    /* color: #f2f2f2; */
}

.paper-detail{
    background-color: #000;
    color: #ccc;
    font-size: 200%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* .paper-detail{
    display: grid;
    grid-template-columns: 2fr 2fr ;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 2%;
}

.paper-detail .paperleft{
    border:1px solid rgb(135, 168, 13);
}

.papertitle{
    margin-left: 5%;
    margin-bottom: 3%;
}

.papertext{
    margin-left: 5%;
    margin-bottom: 3%;
    text-indent: 5%;
}

.paper-detail .paperright{
    border:1px solid rgb(135, 168, 13);
} */













/* last part */
.social-media-content-template{
    /* border:1px solid rgb(135, 168, 13); */
}
.info-me{
    text-align: center;
}
.signature_first_name{
    /* border:1px solid rgb(179, 31, 184); */

}

.signature_last_name{
    /* border:1px solid rgb(45, 82, 202); */

}
#paper .temp{
    text-align: center;
    font-weight: 400;
    font-size: 200%;
    padding-top: 7%;
    padding-bottom: 7%;
}



/* 


HERERERERER


*/

.life{
    display: flex;
    margin: 2% 10% 2% 10%;
}

.module{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 10px;
}

.module .imgborder{
    width: 210px;
    height: 140px;
    border-radius: 10px;
    overflow: hidden;
}

.module img{
    width: 110%;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s;
}

.module img:hover {
    transform: rotate(5deg) scale(1.1);
}

.module .module-text {
    cursor: pointer;
    font-size: 23px;
    margin-top: 3%;
}

.module .module-text:hover{
    color: #fd7e14;
}

.modal1, .modal2, .modal3{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
    /* border:1px solid rgb(179, 31, 184); */
}

.modal-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    padding: 20px;
    max-width: 800px;
    max-height: 80vh;
    overflow-y: auto;
    position: relative;
    text-align: center;
    /* border:1px solid rgb(57, 115, 182); */

    display: flex;
    flex-wrap: wrap;

    border-radius: 10px;
}
.modal-content img{
    width: 180px;
}

.modal-info{
    /* border:1px solid rgb(93, 179, 167); */
    /* display: flex;
    flex-wrap: wrap; */
    /* align-items: flex-start; */
    margin-left: 5%;
    /* overflow: auto; */
    /* align-content: center; */
}

.modal-title{
    font-size: 24px;
    width: 100%;
    font-weight: bold;
    /* margin-bottom: 10px; */
    /* border:1px solid rgb(93, 179, 167); */
    text-align: left;
}


.modal-creator {
    font-size: 16px;
    color: #999;
    margin-bottom: 10px;
    /* border:1px solid rgb(93, 179, 167); */
}

.modal-text{
    width: 100%;
    font-size: 16px;
    line-height: 1.5;
    clear: both;    
    /* border:1px solid rgb(93, 179, 167); */
}


.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 28px;
      color: #000;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      /* background-color: #eaeaea; */
      transition: background-color 0.3s ease-in-out; 
}

.close:hover {
    background-color: #f0f0f0;
}


@media screen and (max-width: 425px) {
    .life{
        flex-direction: column;
    }
    .module .imgborder{
        width: 210px;
        height: 140px;
    }

    .module .module-text {
        margin-bottom: 10px;
    }
    .modal-content{
        /* max-width: 100px; */
        max-height: 70vh;
    }
}






.icon-social-media{
    display: flex;
    justify-content: center;
    /* text-align: center; */
}

#socialsvg{
    margin-left: 1%;
    margin-right: 1%;
}

#icon:hover{
    transform: scale(1.5);
}

footer{
    border:1px solid rgb(223, 35, 35);
    height: 200px;
    background-color: #000;
    color: white;
    text-align: center;
    
    /* border:1px solid rgb(135, 168, 13); */
    padding-top: 20px;
}

.footer-content{
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
    /* border:1px solid rgb(135, 168, 13); */
}
.footer-top{
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    /* justify-content: space-between; */
    /* border:1px solid rgb(135, 168, 13); */
    margin-bottom: 20px;
}

.footer-logo{
    /* border:1px solid rgb(25, 60, 214); */
    text-align: left;

}

.footer-logo .logo{
    /* border:1px solid rgb(32, 175, 151); */
        
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 5%;
    margin-bottom: 5px;
    font-size: 30px;
}

.footer-logo .text{
    margin-left: 5%;
    font-size: 18px;
    max-width: 500px;
}
.footer-catalog {
    display: flex;
    /* justify-content: space-between; */
    margin-top: 1%;
    margin-left: 8%;
    align-items:flex-start;
    text-align: left;
    /* border:1px solid rgb(25, 60, 214); */
}

.sub-catalog {
    display: flex;
    margin-right: 10%;
    flex-direction: column;
    /* border:1px solid rgb(36, 202, 72); */
}

.title {
    font-size: 20px;
    font-weight: bold;
    white-space: nowrap;
}

.sub-title {
    margin-top: 17px;
}

.sub-title span {
    white-space: nowrap;
    display: block;
    font-size: 14px;
    margin-bottom: 8%;
}


.footer-bottom{
    width: 100%;
    margin-left: 8%;
    margin-right: 8%;
    display: flex;
    justify-content: space-between;
    /* border:1px solid rgb(204, 48, 61); */
}

.footer-bottom .terms span{
    margin-right: 15px;
}
